
    <html xmlns:th="http://www.thymeleaf.org">
    <html lang="en">
    <head>
        <title>THIS PAGE IS LOGOUT</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
        <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    </head>
    <body>
    <form th:action="@{/logout}" method="post">
    <div class="container">
        <h2>Giriş Yapıldı. Hoşgeldiniz.</h2>

            <input type="submit" value="Logout" />
        </form>
    </div>
    </form>
    </body>
    </html>